$font-ppal: 'Poppins', sans-serif;
$font-cursiva: 'Birthstone Bounce', cursive;

$color-background-a: #6868AC;
$color-background-b: #D3C54D;
$color-font-a: #212529;

$color-pantone-azul: #6868AC;
$color-pantone-verde: #4B9B69;
$color-pantone-celeste: #9ECBC8;
$color-pantone-amarillo: #D3C54D;
$color-pantone-amarillooscuro: #B28330;
$color-pantone-violeta: #8B5897;
$color-pantone-rosa: #D3507A;
$color-pantone-claro: #F0EEE9;
$color-pantone-grisoscuro: #3D3F43;

